.app.dark {
    --bg-color: #0c1790;
    --inverted-bg-color: #c8c9e9;
    --primary-color: #00a010;
    --secondary-color: #0ff02d;
    --inverted-primary-color: #0f0aaf;
    --inverted-secondary-color: #2455e8;
}
