.app.light {
    --bg-color: #c8c9e9;
    --inverted-bg-color: #010a6a;

    --primary-color: #2721ca;
    --secondary-color: #2b5beb;
    --inverted-primary-color: #00a010;
    --inverted-secondary-color: #0ff02d;
}
